@font-face {
  font-family: "Market_Deco";
  src: local("Market_Deco"), url("./fonts/Market_Deco.ttf") format("truetype");
  font-weight: bold;
}

body {
  background-color: black !important;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
label
{
  color: white !important;
}

.title {
  font-family: "Market_Deco";
  height: 4rem;
}

.torque-logo {
  width: 3rem;
  height: 3rem;
}

.black-bg {
  background-color: black; 
}

.dropdown-toggle {
  /* width: 10rem; */
  width: 100%;
}

.form-control {
  /* border-radius: 0.5rem; */
}
