@font-face {
  font-family: "Market_Deco";
  src: local("Market_Deco"), url("./fonts/Market_Deco.ttf") format("truetype");
  font-weight: bold;
}

body {
  background-color: black !important;
  padding: 0;
}

h1,
h2,
h3,
h4,
p
{
  color: white !important;
}
/* 
table,
th,
td {
  border: 1px solid white;
  margin: 0;
} */

/* td {
  text-align: left;
} */

.td-w {
  width: 10rem;
}

.torque-logo {
  width: 60px;
  height: 60px;
}