.bar-progress { fill: rgb(64, 132, 88) !important; }

.today-highlight {
  fill: red !important;
}

.bar-label {
  fill: black !important;
  font-size: 14px !important;
  font-weight: normal !important;
}

.big {
  fill: black !important;
}

.popup {
  width: 5rem;
  padding: .5rem;
  height: 2.2rem;
}

@font-face {
  font-family: "Market_Deco";
  src: local("Market_Deco"), url("./fonts/Market_Deco.ttf") format("truetype");
  font-weight: bold;
}

body {
  /* background-color: black !important; */
  /* background-color: rgb(34, 37, 41); */
  background-color:rgb(45, 48, 52);
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
label
{
  color: white !important;
}

a {
  color: lightskyblue;
}

.branding {
  font-family: "Market_Deco";
}

.header {
  margin-bottom: 1.25rem;
 
  padding: 1rem;

}

.nav-btn {
  margin-top: .85rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.torque-logo {
  /* width: 3rem; */
  /* height: 3rem; */
  height: 3rem;
  width: auto;
}

.black-bg {
  background-color: black; 
}

.dark-gray-bg {
  background-color: rgb(24, 26, 27);
}

.med-gray-bg {
  background-color: rgb(34, 37, 41);
}

.lite-gray-bg {
  background-color: rgb(45, 48, 52);
}


.dropdown-toggle {
  /* width: 10rem; */
  width: 100%;
}

.invisible {
  opacity: 0%;
}

.details-view {
  height: 13rem;
}

.string-list {
  background-color: white;
  border-radius: .5rem;
}

.string-list-table {
  height: 11rem; 
  overflow: scroll;
  display: block;
}

.string-list-row {
  width: 10rem;
}